<html ng-app="login-register">
  <head>
  	<title>loginRegister</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="login-register">

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
    		<div class="item active">
      			<img src="img/slide1.jpg" alt="Chania">
    		</div>

		    <div class="item">
		    	<img src="img/slide2.jpg" alt="Chania">
		    </div>

		    <div class="item">
		    	<img src="img/slide3.jpg" alt="Flower">
		    </div>
		</div>
  	</div>

  	<!-- Main Div Wrapper starts-->
  	<div class="container index">


  		<!--
  			Login Box starts
  		-->
		<div ng-hide="LoginBox" class="login box-container">

			<div class="heading">
		  		<h2 class="login-heading">Login</h2>
			</div>

			<!-- User name Text Field -->
			<div class="input-group username-group">
		  		<span class="input-group-addon iconbg">
					<i class="glyphicon glyphicon-user"></i>
		  		</span>
		  		<input id="login-username" type="text" ng-model="username" class="form-control inputbg" name="username" value="" placeholder="username or email">
			</div>
<form ng-submit="login()">
			<!-- Password Text Field -->
			<div class="input-group password-group">
		  		<span class="input-group-addon iconbg">
					<i class="glyphicon glyphicon-lock"></i>
		  		</span>
		  		<input id="login-password" type="password" ng-model="password" class="form-control inputbg" name="password" placeholder="password">
			</div>

			<!-- ALert Box For Wrong Usernme and password combination -->
			<div class="alert-group" ng-hide="LoginAlert">
		  		<div class="alert alert-danger">
					Wrong Username and Password combination
		  		</div>
			</div>

			<!-- Button to Login -->

			<div class="input-group">      
				<button type="submit"  id="btn-login" class="btn btn-login btnbg" >
					Login
				</button>
			</div>
</form>
			<!-- Link for SingUp Box -->
			<div class="signup-box">
			  	<h4>Don't have an account ? <u><span ng-click="toggle_register()">SignUp</span></u></h4>
			</div>
		</div>
		<!--
  			Login Box ends
  		-->



	</div>

  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src = "js/script.js"></script>
  <script src = "https://code.jquery.com/jquery-3.1.1.min.js"></script>
   <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
